.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.extra-label{
    margin-bottom: 0;
    margin-top: 10px;
}

.return_msg{
    font-size: 40px;
    animation: flash 5s linear;
}

.flashes{
    padding-top: 50px;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

table{
    width: 100%;
}

body {
    background-size: cover;
    background: linear-gradient(#001aff, #000000 10%) repeat-x fixed center #000000;
    color: white;
    font-family: "arial", serif;
    cursor: url(img/Dragon_scimitar.png), pointer;
}