.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.extra-label{
    margin-bottom: 0;
    margin-top: 1rem;
}

.inset{
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.hide_{
    display: none;
}

.return_msg{
    font-size: 2.5rem;
    animation: flash 5s linear;
}

.flashes{
    margin-top: 2rem;
}

.btn{
    color: #ca990d;
    background-color: #222021;
    border: 5px groove #ca990d;
}

.btn:hover{
    color: #9d770a;
}

.navbar-toggler{
    float: right;
    margin-top: 2.188rem;
    margin-right: 0.75rem;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    color: #ca990d;
    font-family: "arial", serif;
    background: linear-gradient(#211f1f, #060506);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 9.375rem;
}

#background { 
    display: block;
    position: fixed;
    z-index: 0;
}

.container {
    background-color: #1c1c1c;
    position: relative;
    z-index: 1;
}

#navbar {
    z-index: 2;
}

.bg-dark {
    background-color: #222021 !important;
}

a {
    color: #a07809;
}

a:hover {
    color: #a07809;
}

.navbar-dark .navbar-brand{
    color: #ca990d;
}

.navbar-dark .navbar-brand:hover{
    color: #ca990d;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ca990d;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #9d770a;
}

.form-control {
    color: #ca990d;
    background-color: #222021;
    border: 0.4rem groove #ca990d;
}

form {
    text-align: left;
}

@media (max-width: 991px) {
    body {
        margin-top: 6.875rem;
    }
    .navbar-brand {
        margin-left: 5.25rem;
    }
}

li {
    list-style: none;
}

table {
    width: 100%;
    border: 1px solid #ffffff;
    border-collapse: collapse;

}

td {
    border: 1px solid #ffffff;
    padding: 5px;
}

tr:nth-child(even)  {
    background-color: #272727;
    color: #d3d3d3;
}

tr:hover {
    background-color: #ca990d;
    color: #ffffff;
}

tr {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 5px;
    background-color: #d4d4d4;
    color: #333333;
}

td.long {
    white-space: normal;
}

th {
    border: 1px solid #ffffff;
    text-align: left;
    color: #696969;
    background-color: #f0f0f0;
    padding: 5px;
}