{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <div class="page-header">
        <h1>{{ title }} | {{ new }} uutta palautetta</h1>
    </div>
    <form action="{{ appurl + '/admin' }}" method="post" onsubmit="return confirm('Haluatko varmasti tehdä valitut toimenpiteet?')">
    <div>
        <h2>Palaute toiminnasta</h2>
            <table>
            <tr>
                <th>Palaute</th>
                <th>Nimi</th>
                <th>SäPo</th>
                <th class="check">Arkistoi</th>
                <th class="check">Poista</th>
            </tr>
            {% for h_entry in h_entries %}
                <tr>
                <td class="long"> {{ h_entry.palaute }} </td>
                <td>{{ h_entry.nimi }}</td>
                <td>{{ h_entry.email }}</td>
                <td>
                    <input id="choises" class="acceptbutton" type="checkbox" name="h_{{ h_entry.id }}" value="arkisto">
               </td>
               <td>
                <input id="choises" class="acceptbutton" type="checkbox" name="h_{{ h_entry.id }}" value="remove">
                </td>
                </tr>
            {% endfor %}
            </table>
    </div>
    <div>
        <h2>Palaute tapahtumasta</h2>
            <table>
            <tr>
                <th>Palaute</th>
                <th>Nimi</th>
                <th>SäPo</th>
                <th class="check">Arkistoi</th>
                <th class="check">Poista</th>
            </tr>
            {% for t_entry in t_entries %}
                <tr>
                <td class="long"> {{ t_entry.palaute }} </td>
                <td>{{ t_entry.nimi }}</td>
                <td>{{ t_entry.email }}</td>
                <td>
                    <input id="choises" class="acceptbutton" type="checkbox" name="t_{{ t_entry.id }}" value="arkisto">
               </td>
               <td>
                <input id="choises" class="acceptbutton" type="checkbox" name="t_{{ t_entry.id }}" value="remove">
                </td>
                </tr>
            {% endfor %}
            </table>
    </div>
    <div>
        <h2>Ehdotuksia</h2>
            <table>
            <tr>
                <th>Palaute</th>
                <th>Nimi</th>
                <th>SäPo</th>
                <th class="check">Arkistoi</th>
                <th class="check">Poista</th>
            </tr>
            {% for e_entry in e_entries %}
                <tr>
                <td class="long"> {{ e_entry.palaute }} </td>
                <td>{{ e_entry.nimi }}</td>
                <td>{{ e_entry.email }}</td>
                <td>
                    <input id="choises" id="choises" class="acceptbutton" type="checkbox" name="e_{{ e_entry.id }}" value="arkisto">
               </td>
               <td>
                <input id="choises" id="choises" class="acceptbutton" type="checkbox" name="e_{{ e_entry.id }}" value="remove">
                </td>
                </tr>
            {% endfor %}
            </table>
    </div>
    <div>
        <h2>Muuta palautetta</h2>
            <table>
            <tr>
                <th>Palaute</th>
                <th>Nimi</th>
                <th>SäPo</th>
                <th class="check">Arkistoi</th>
                <th class="check">Poista</th>
            </tr>
            {% for m_entry in m_entries %}
                <tr>
                <td class="long"> {{ m_entry.palaute }} </td>
                <td>{{ m_entry.nimi }}</td>
                <td>{{ m_entry.email }}</td>
                <td>
                    <input id="choises" class="acceptbutton" type="checkbox" name="m_{{ m_entry.id }}" value="arkisto">
               </td>
               <td>
                <input id="choises" class="acceptbutton" type="checkbox" name="m_{{ m_entry.id }}" value="remove">
                </td>
                </tr>
            {% endfor %}
            </table>
    </div>
    <br>
    <h1>Arkistoidut palautteet</h1>
    <hr>
        <div>
            <h2>Palaute toiminnasta</h2>
                <table>
                <tr>
                    <th>Palaute</th>
                    <th>Nimi</th>
                    <th>SäPo</th>
                    <th class="check">Poista</th>
                </tr>
                {% for h_arkisto in h_arkistot %}
                    <tr>
                    <td class="long"> {{ h_arkisto.palaute }} </td>
                    <td>{{ h_arkisto.nimi }}</td>
                    <td>{{ h_arkisto.email }}</td>
                    <td>
                    <input id="choises" class="acceptbutton" type="checkbox" name="h_{{ h_arkisto.id }}" value="remove">
                    </td>
                    </tr>
                {% endfor %}
                </table>
        </div>
        <div>
            <h2>Palaute tapahtumasta</h2>
                <table>
                <tr>
                    <th>Palaute</th>
                    <th>Nimi</th>
                    <th>SäPo</th>
                    <th class="check">Poista</th>
                </tr>
                {% for t_arkisto in t_arkistot %}
                    <tr>
                    <td class="long"> {{ t_arkisto.palaute }} </td>
                    <td>{{ t_arkisto.nimi }}</td>
                    <td>{{ t_arkisto.email }}</td>
                    <td>
                    <input id="choises" class="acceptbutton" type="checkbox" name="t_{{ t_arkisto.id }}" value="remove">
                    </td>
                    </tr>
                {% endfor %}
                </table>
        </div>
        <div>
            <h2>Ehdotuksia</h2>
                <table>
                <tr>
                    <th>Palaute</th>
                    <th>Nimi</th>
                    <th>SäPo</th>
                    <th class="check">Poista</th>
                </tr>
                {% for e_arkisto in e_arkistot %}
                    <tr>
                    <td class="long"> {{ e_arkisto.palaute }} </td>
                    <td>{{ e_arkisto.nimi }}</td>
                    <td>{{ e_arkisto.email }}</td>
                    <td>
                    <input id="choises" class="acceptbutton" type="checkbox" name="e_{{ e_arkisto.id }}" value="remove">
                    </td>
                    </tr>
                {% endfor %}
                </table>
        </div>
        <div>
            <h2>Muuta palautetta</h2>
                <table>
                <tr>
                    <th>Palaute</th>
                    <th>Nimi</th>
                    <th>SäPo</th>
                    <th class="check">Poista</th>
                </tr>
                {% for m_arkisto in m_arkistot %}
                    <tr>
                    <td class="long"> {{ m_arkisto.palaute }} </td>
                    <td>{{ m_arkisto.nimi }}</td>
                    <td>{{ m_arkisto.email }}</td>
                    <td>
                    <input id="choises" class="acceptbutton" type="checkbox" name="m_{{ m_arkisto.id }}" value="remove">
                    </td>
                    </tr>
                {% endfor %}
                </table>
        </div>
        <input id="adminbutton"class="btn btn-default" type="submit" value="Hyväksy"/>
        </form>
</div>
{% endblock %}
