{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <h2>Sitsien osallistujat</h2>
    <h3>OTiT: {{ o_count }}/{{ limit }}</h3>
    <table>
        <thead>
        <tr>
            <td>
                #
            </td>
            <td>
                Nimi
            </td>
            <td>
                SäPo
            </td>
            <td>
                erityisruokavalio
            </td>
            <td>
                Toiveita
            </td>
            <td>
                Juomat
            </td>
        </tr>
        </thead>
        <tbody>
        {% for entry in o_entries %}
            <tr>
            <td>{{ loop.index }}.
                {% if loop.index > limit %}
                    (Vara)
                {% endif %}
            </td>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.mail }}
            </td>
            <td>
                {{ entry.specialfoods }}
            </td>
            <td>
                {{ entry.hopesndreams }}
            </td>
            <td>
                {{ entry.wine }} / {{ entry.beer }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>SIK: {{ s_count }}/{{ limit }}</h3>
    <table>
        <thead>
        <tr>
            <td>
                #
            </td>
            <td>
                Nimi
            </td>
            <td>
                SäPo
            </td>
            <td>
                erityisruokavalio
            </td>
            <td>
                Toiveita
            </td>
            <td>
                Juomat
            </td>
        </tr>
        </thead>
        <tbody>
        {% for entry in s_entries %}
            <tr>
            <td>{{ loop.index }}.
                {% if loop.index > limit %}
                    (Vara)
                {% endif %}
            </td>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.mail }}
            </td>
            <td>
                {{ entry.specialfoods }}
            </td>
            <td>
                {{ entry.hopesndreams }}
            </td>
            <td>
                {{ entry.wine }} / {{ entry.beer }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<h3>Blanko: {{ b_count }}/{{ limit }}</h3>
    <table>
        <thead>
        <tr>
            <td>
                #
            </td>
            <td>
                Nimi
            </td>
            <td>
                SäPo
            </td>
            <td>
                erityisruokavalio
            </td>
            <td>
                Toiveita
            </td>
            <td>
                Juomat
            </td>
        </tr>
        </thead>
        <tbody>
        {% for entry in b_entries %}
            <tr>
            <td>{{ loop.index }}.
                {% if loop.index > limit %}
                    (Vara)
                {% endif %}
            </td>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.mail }}
            </td>
            <td>
                {{ entry.specialfoods }}
            </td>
            <td>
                {{ entry.hopesndreams }}
            </td>
            <td>
                {{ entry.wine }} / {{ entry.beer }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <h2>Muut osallistujat: {{ count }}</h2>
    <table>
        <thead>
        <tr>
            <td>
                #
            </td>
            <td>
                Nimi
            </td>
            <td>
                SäPo
            </td>
            <td>
                erityisruokavalio
            </td>
            <td>
                Toiveita
            </td>
            <td>
                Kilta
            </td>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
            <td>{{ loop.index }}.
                {% if loop.index > limit %}
                    (Vara)
                {% endif %}
            </td>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.mail }}
            </td>
            <td>
                {{ entry.specialfoods }}
            </td>
            <td>
                {{ entry.hopesndreams }}
            </td>
            <td>
                {{ entry.guild }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
