{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
<main>
<div class="container">
    <h2>Osallistujat:</h2>
    <h3>Kiltalaiset</h3>
    <table>
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nimi
            </th>
            <th>
                SäPo
            </th>
            <th>
                Aloitusvuosi
            </th>
            <th>
                Erityisruokavalio
            </th>
            <th>
                Juoma
            </th>
            <th>
                Juomatoive
            </th>
            <th>
                Sillis
            </th>
            <th>
                Tervehdyksen lähettäjä
            </th>
            <th>
                Avec
            </th>
            <th>
                Avecin erityisruokavalio
            </th>
            <th>
                Avecin juoma
            </th>
            <th>
                Avecin Juomatoive
            </th>
            <th>
                Historiikin tilaus
            </th>
            <th>
                Pöytätoive
            </th>
        </tr>
        </thead>
        <tbody>
        {% for entry in kiltalaiset %}
            <tr>
            <td>{{ loop.index }}.
            </td>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.mail }}
            </td>
            <td>
                {{ entry.s_year }}
            </td>
            <td class="long">
                {{ entry.specialfoods }}
            </td>
            <td>
                {{ entry.drink }}
            </td>
            <td>
                {{ entry.drink_wish }}
            </td>
            <td>
                {{ entry.sillis }}
            </td>
            <td>
                {{ entry.greeting }}
            </td>
            <td>
                {{ entry.avec }}
            </td>
            <td class="long">
                {{ entry.avec_specialfoods }}
            </td>
            <td>
                {{ entry.avec_drink }}
            </td>
            <td>
                {{ entry.avec_drink_wish }}
            </td>
            <td>
                {{ entry.history }}
            </td>
            <td>
                {{ entry.table }}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Kutsuvieraat</h3>
    <table>
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nimi
            </th>
            <th>
                SäPo
            </th>
            <th>
                Erityisruokavalio
            </th>
            <th>
                Sillis
            </th>
            <th>
                Tervehdyksen lähettäjä
            </th>
            <th>
                Avec
            </th>
            <th>
                Avecin erityisruokavalio
            </th>
            <th>
                Historiikin tilaus
            </th>
            <th>
                Pöytätoive
            </th>
        </tr>
        </thead>
        <tbody>
        {% for entry in kutsutut %}
            <tr>
                <td>{{ loop.index }}.
                </td>
                <td>
                    {{ entry.name }}
                </td>
                <td>
                    {{ entry.mail }}
                </td>
                <td class="long">
                    {{ entry.specialfoods }}
                </td>
                <td>
                    {{ entry.sillis }}
                </td>
                <td>
                    {{ entry.greeting }}
                </td>
                <td>
                    {{ entry.avec }}
                </td>
                <td class="long">
                    {{ entry.avec_specialfoods }}
                </td>
                <td>
                    {{ entry.history }}
                </td>
                <td>
                    {{ entry.table }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</main>
{% endblock %}
