{% extends "headers.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        Kun juoksee lujaa, pääsee nopeasti pelin läpi. PC-vastaavat suuruudessaan järjestävät huikean vauhtijuoksu
        (speedrun) tapahtuman kiltahuoneella 3.-5.5.2019. Osaatko pelata jonkun pelin läpi nopeasti? Tai haluatko edes
        yrittää moista? Ilmoittaudu pelaajaksi tapahtumaan alla olevalla kaavakkeella. Pelata voit konsolilla
        taikka PC:llä, mutta toive olisi että jokaiselta löytyisi itseltä välineet pelin pelaamiseen. Tapahtumaa
        lähdetään suunnittelemaan tarkemmin osallistujien määrän ja mielenkiinnon mukaan. Mahdollisuudet ovat lähes
        rajattomat!<br>
        Vielä ei tarvitse tietää minkä pelin haluaisi pelata, mutta muutoin tässä vaiheessa olisi hyvä pystyä
        ilmoittautumaan mahdollisimman sitovasti.<br>
        kysy lisää IRC-netissä jsloth :lta tai sähköpostilla osoitteesta joonas.val ÄT gmailpistecom
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.nick) }}
            {{ wtf.form_field(form.game) }}
            {{ wtf.form_field(form.time) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.phone) }}
            <label class="extra">Minut saa kiinni seuraavilla tavoilla:</label>
            {{ wtf.form_field(form.con_irc) }}
            {{ wtf.form_field(form.con_tel) }}
            {{ wtf.form_field(form.con_email) }}
            <label class="extra">Tapahtuman järjestely</label><br>
            Tapahtuman suunnittelu ja järjestely on vielä alkutekijöissään ja mahdollisuudet valtavat. Ilmoita siis
            kiinnostaako sinua suunnittelu taikka muiden suunnitteleman tapahtuman järjestelyt.
            {{ wtf.form_field(form.organize) }}
            {{ wtf.form_field(form.other) }}
            {{ wtf.form_field(form.consent) }}
            {{ wtf.form_field(form.gdpr_consent) }}
            <br>
            <a target="_blank" href="/vauhtijuoksu/static/Tietosuojaseloste.pdf">Tietosuojaseloste</a>
            <br>
            {{ wtf.form_field(form.submit) }}
        </form>
        <h3>Ilmoitetut pelit:</h3>
        <table>
            <thead>
            <tr>
                <td>
                    Peli
                </td>
                <td>
                    Pelaaja
                </td>
            </tr>
            </thead>
            <tbody>
            {% for entry in entrys %}
                {% if entry.game %}
                    <tr>
                    <td>
                        {{ entry.game }}
                    </td>
                    <td>
                        {{ entry.nick }}
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
