{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
    <div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <p>OTiT:n sitsit vuoden 2020 fukseille</p>
    {% if starttime < nowtime < endtime %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.name) }}
            <label class="extra-label">Ryhmä*</label>
            {{ wtf.form_field(form.guild) }}
            {% for e in form.guild.errors %}
                <p class="text-danger">Valitse ryhmä</p>
            {% endfor %}
            {{ wtf.form_field(form.mail) }}
            {{ wtf.form_field(form.specialfoods) }}
            <label class="extra-label">Juomatoive*</label>
            {{ wtf.form_field(form.alcohol) }}
            {% for e in form.alcohol.errors %}
                <p class="text-danger">Valitse juoma</p>
            {% endfor %}
            <div id="drinks" class="inset hide_">
                <label class="extra-label">Viini</label>
                {{ wtf.form_field(form.wine) }}
                <label class="extra-label">Mieto</label>
                {{ wtf.form_field(form.beer) }}
            </div>
            <div class="consent">
            {{ wtf.form_field(form.name_consent) }}
            {{ wtf.form_field(form.consent) }}
            {{ wtf.form_field(form.corona) }}
            </div>
            {{ wtf.form_field(form.submit) }}
        </form>
    {% elif nowtime < starttime %}
        <h3>Ilmoittautuminen ei ole vielä alkanut</h3>
    {% else %}
        <h3>Ilmoittautuminen on päättynyt</h3>
    {% endif %}
    <p>
        Tietosuojasuojaselosteen voit lukea täältä: <a
            href="{{ appurl }}/static/Tietosuoja.pdf">Tietosuojaseloste</a>
    </p>
    <h2>Osallistujat:</h2>
    <div class="row">
        <div class="col-sm-3">
            <h3>Fuksit: {{ f_count }}/{{ f_limit }}</h3>
            {% for entry in f_entries %}
            {% if entry["name_consent"] == "1" %}
                <p>{{ loop.index }}. {{ entry["name"][:30] }}
                    {% if loop.index > f_limit %}
                        (Varasijalla)
                    {% endif %}
                </p>
            {% else %}
                <p>{{ loop.index }}. fuksi
                    {% if loop.index > f_limit %}
                        (Varasijalla)
                    {% endif %}
                </p>    
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <h3>Prot: {{ p_count }}/{{ p_limit }}</h3>
            {% for entry in p_entries %}
            {% if entry["name_consent"] == "1" %}
                <p>{{ loop.index }}. {{ entry["name"][:30] }}
                    {% if loop.index > p_limit %}
                        (Varasijalla)
                    {% endif %}
                </p>
            {% else %}
                <p>{{ loop.index }}. pro
                    {% if loop.index > p_limit %}
                        (Varasijalla)
                    {% endif %}
                </p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <h3>Hallitus: {{ h_count }}/{{ h_limit }}</h3>
            {% for entry in h_entries %}
            {% if entry["name_consent"] == "1" %}
                <p>{{ loop.index }}. {{ entry["name"][:30] }}
                    {% if loop.index > h_limit %}
                        (Varasijalla)
                    {% endif %}
                </p>
            {% else %}
                <p>{{ loop.index }}. anonyymi
                    {% if loop.index > h_limit %}
                        (Varasijalla)
                    {% endif %}
                </p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
