{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
    <div class="container">
    <h2>Mustaakin mustemmat</h2>

        <p>
            Tympiikö kaamos ja vituttaako orastava jouluhössötys? Onko vauvavitsivarastosi ehtymätön? Aiheuttavatko
            juttusi enemmän tai vähemmän paheksuntaa kanssaopiskelijoissasi? OLO ja OTiT, joita yhdistävät ainakin
            mustat haalarit ja mahdollisesti synkät sielut, järjestävät mustaakin mustemmat -yhteissitsit
            Teekkaritalolla 10.12. klo 19 eteenpäin. Näillä sitseillä Teekkaritalon turvallisten seinien sisällä voit
            olla ihan oma itsesi, sillä ronskeja heittoja ei kavahdeta ja kyseenalaisetkin lisäsäkeistöt saa surutta
            kajauttaa ilmoille. Jätä siis kukkahattusi tai mielensäpahoittajamyssysi suosiolla kotiin!
        </p>
        <p>
            Ilmoittautuminen sitseille alkaa maanantaina 2.12. klo 13.37.Sitsilipun hinta on 18€ ja maksuohjeet
            julkaistaan ilmoittautumisen yhteydessä. Huomioithan, että ilmottautuminen sitseille on sitova, joten jos et
            pääse tapahtumaan, kauppaathan itse lippusi eteenpäin. Hintaan sisältyy pääruoka, jälkiruoka, 3 kaatoa
            mietoa juomaa ja 2 shottia sekä jatkot paljuineen kaikkineen. Paikan päälle sitseille saa tuoda myös omia virvoitusjuomia.
        </p>
        <ul>
            <li>
                MITÄ: Mustaakin mustemmat -sitsit
            </li>
            <li>
                MISSÄ: Teekkaritalo
            </li>
            <li>
                MILLOIN: Ti 10.12. klo 19
            </li>
            <li>
                PUKUKOODI: Mustat haalarit + musta yläosa (tai muuten mustat romppeet!)
            </li>
            <li>
                MITÄ MAKSAA: 18€
            </li>
        </ul>
        Ilmoittautuminen sulkeutuu 8.12.2019.

        <h2>IN ENGLISH</h2>

        <p>
            Are you fed up with the darkness and full of the Christmas hassle? Does your dark humor cause eye rolling from your fellow students? OLO and OTiT, who share at least the black colored overalls but perhaps also dark souls, are having sitsit in Teekkaritalo on Tuesday 10.12. at 19 --> . In these sitsit the walls of Teekkaritalo will provide a safe space where you can be yourself, as even the darkest jokes and vulgar additional verses are released.

        </p>
        <p>
            The registration will take place on Monday 2.12. at 13.37 through a link that will be released later. The price of the ticket is 18€ and the instructions for payment will be released alongside. Please remember that the registration for sitsit is binding, so if you cannot attend the party, you are responsible of selling your ticket forward personally. The price includes starter, a main course, dessert, 3 x beverages and 2 shots and the afterparty with warm sauna and palju. You can also bring your own drinks to sitsit.
        </p>
        <ul>
            <li>
                WHAT: Mustaakin mustemmat -sitsit
            </li>
            <li>
 WHERE: Teekkaritalo
            </li>
            <li>
 WHEN: Tuesday 10.12. at 19 -->
            </li>
            <li>
 DRESSCODE:  Black clothing (Overalls or without!)
            </li>
            <li>
                WHAT DOES IT COST: 18€
            </li>
        </ul>

        The form closes 8.12.2019.


            <p>
        <h2>Maksutiedot/Payment instructions</h2>
<ul><li>
Saaja/Recipient: Oulun luokanopettajaopiskelijat ry
    </li>
        <li>
Tilinumero/Account number: FI55 5741 3610 0182 33
        </li>
        <li>
Viitenumero/Reference number: 1012 20190
        </li>
        <li>
Eräpäivä/Due date: 8.12.
        </li>
    </ul>
        </p>

        {% if starttime > nowtime %}
            ilmo aukeaa / Form opens <br> {{ starttime }}
        {% elif nowtime < endtime %}
            <h2>Ilmoittautuminen</h2>
            <form class="form form-horizontal" method="post" role="form">

                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.guild) }}

                {{ wtf.form_field(form.name) }}

                {{ wtf.form_field(form.mail) }}

                <label class="extra-label">Juomatoive / Drinks</label>
                {{ wtf.form_field(form.alcohol) }}
                {% for e in form.alcohol.errors %}
                    <p class="text-danger">Valitse juoma / Choose Drink</p>
                {% endfor %}

                <div id="drinks" class="inset hide_">
                    <label class="extra-label">Viini / Wine</label>
                    {{ wtf.form_field(form.wine) }}

                    <label class="extra-label">Mieto / Low alc.</label>
                    {{ wtf.form_field(form.beer) }}
                </div>
                {{ wtf.form_field(form.specialneeds) }}

                {{ wtf.form_field(form.consent) }}

                {{ wtf.form_field(form.gdpr) }}

                {% for e in form.errors.items() %}
                    <p class="text-danger">{{ e }}</p>
                {% endfor %}

                {{ wtf.form_field(form.submit) }}


            </form>
        {% else %}
            <p>Ilmoittautuminen on päättynyt / The form has closed</p>
        {% endif %}
        <a href="{{ appurl }}/static/mustaakinmustemmatsitsittietosuoja.pdf" target="_blank">Tietosuojaseloste</a>
        <br>
        / The information gathered from this form is handled confidentially and in accordance to the EU standards. More details upon request.
        <div class="row">
            <div class="col-sm-6">
        <h2>OTiT - Osallistujat / Attendees {{ otits|length }}/30</h2>
                {% for entry in otits %}
                    <p>{{ loop.index }}. {{ entry[:50] }}
                        {% if loop.index > 30 %}
                            (Varasijalla / Reserve)
                        {% endif %}
                    </p>
                {% endfor %}
            </div>

            <div class="col-sm-6">
        <h2>OLO - Osallistujat / Attendees {{ olos|length }}/28</h2>
                {% for entry in olos %}
                    <p>{{ loop.index }}. {{ entry[:50] }}
                        {% if loop.index > 28 %}
                            (Varasijalla / Reserve)
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
