{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
    <div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <main>
    <p>Tällä sivulla voivat ilmoittautua kutsuvieraat</p>
    {% if starttime < nowtime < endtime %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.mail) }}
            {{ wtf.form_field(form.s_year) }}
            {{ wtf.form_field(form.specialfoods) }}
            {{ wtf.form_field(form.sillis) }}
            {{ wtf.form_field(form.greeting) }}
            <div id="greeting_box" class="inset hide_">
                {{ wtf.form_field(form.greeter) }}
            </div>
            {{ wtf.form_field(form.avek) }}
            <div id="avek_box" class="inset hide_">
                {{ wtf.form_field(form.avek_name) }}
            </div>
            {{ wtf.form_field(form.history) }}
            {{ wtf.form_field(form.table) }}
            {{ wtf.form_field(form.name_consent) }}
            <div class="consent">
                {{ wtf.form_field(form.consent) }}
            </div>
            {{ wtf.form_field(form.submit) }}
        </form>
    {% elif nowtime < starttime %}
        <h3>Ilmoittautuminen ei ole vielä alkanut</h3>
    {% else %}
        <h3>Ilmoittautuminen on päättynyt</h3>
    {% endif %}
    <p>
        Tietosuojasuojaselosteen voit lukea täältä: <a
            href="{{ appurl }}/static/Tietosuoja.pdf">Tietosuojaseloste</a>
    </p>
    <h2>Ilmoittautuneet</h2>
    </main>
    </div>
{% endblock %}
