{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
    <div class="container">
    <main>
    <p>Tällä sivulla voivat ilmoittautua killanjäsenet.</p>
    <p>Jos olet saanut kutsun vuosijuhlaan, ilmottaudu kutsussa olevassa osoitteessa.</p>
    {% if starttime < nowtime < endtime %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.mail) }}
            {{ wtf.form_field(form.s_year) }}
            {{ wtf.form_field(form.specialfoods) }}
            <label class="extra-label">Juomatoive</label>
            {{ wtf.form_field(form.drink) }}
            <div id="alcohol_box" class="inset hide_">
                {{ wtf.form_field(form.alcohol_wish) }}
            </div>
            <div id="none_box" class="inset hide_">
                {{ wtf.form_field(form.none_wish) }}
            </div>
            {{ wtf.form_field(form.sillis) }}
            {{ wtf.form_field(form.greeting) }}
            <div id="greeting_box" class="inset hide_">
                {{ wtf.form_field(form.greeter) }}
            </div>
            {{ wtf.form_field(form.avec) }}
            <div id="avec_box" class="inset hide_">
                {{ wtf.form_field(form.avec_name) }}
                {{ wtf.form_field(form.avec_specialfoods) }}
                <label class="extra-label">Juomatoive</label>
                {{ wtf.form_field(form.avec_drink) }}
                <div id="avec_alcohol_box" class="inset hide_">
                    {{ wtf.form_field(form.avec_alcohol_wish) }}
                </div>
                <div id="avec_none_box" class="inset hide_">
                    {{ wtf.form_field(form.avec_none_wish) }}
                </div>
            </div>
            {{ wtf.form_field(form.history) }}
            {{ wtf.form_field(form.table) }}
            {{ wtf.form_field(form.name_consent) }}
            <div class="consent">
            {{ wtf.form_field(form.consent) }}
            </div>
            {{ wtf.form_field(form.submit) }}
        </form>
    {% elif nowtime < starttime %}
        <h3>Ilmoittautuminen ei ole vielä alkanut</h3>
    {% else %}
        <h3>Ilmoittautuminen on päättynyt</h3>
    {% endif %}
    <p>
        Tietosuojasuojaselosteen voit lukea täältä: <a
            href="{{ appurl }}/static/32v_yleinen_tietosuoja.pdf">Tietosuojaseloste</a>
    </p>
    <h2>Ilmoitautuneet {{ count }}/{{ limit }}</h2>
    <ol>
        {% for name in names %}
            <li id="names"> {{ name }}
                {% if loop.index > limit %}
                            (Varasijalla)
                {% endif %}
            </li>
        {% endfor %}
    </ol>
    </main>
    </div>
{% endblock %}
